body {
    padding-top: 70px;
    background: url('/static/img/bg.png');
}
div.navbar {
    border-bottom: 1px solid #c1c1c1;
}
div#billboard {
    position: relative;
    top: 150px;
    width: 50%;
    border: 1px solid #c1c1c1;
    padding: 20px 20px 30px 20px;
    margin: 0 auto;
    background-color: #efefef;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
div#buttons {
    margin: 0 auto;
    text-align: center;
}
div#title {
    margin: 0 auto;
    text-align: center;
    font-size: 64px;
}
div#description {
    margin: 0 auto 20px auto;
    text-align: center;
}
.alert {
  position: fixed;
  overflow: visible;
  padding-bottom: 5px;
  top: 15px;
  left: 20%;
  right: 20%;
  z-index: 9999;
  text-align: center;
}
div#login {
    border: 1px solid #c1c1c1;
    background: #efefef;
    padding: 40px 40px 20px 40px;
    width: 30%;
    margin: 100px auto 20px auto;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
.caret {
    border-top-color: #9e9e9e !important;
    border-bottom-color: #9e9e9e !important;
}
